/* SEARCH FORM SECTION */

.search-form {
    display: flex;
    align-items: center;
    position: relative;
}

.search-input-field {
    border: 1px solid #000;
    font-size: 18px;
    padding: 10px 15px;
    width: 100%;
}

.search-input-field:focus {
    outline: none;
    box-shadow: 0 0 5px 3px #0f0;
}

.search-button {
    border: none;
    background-color: transparent;
    background-image: url('../../images/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 15px;
}

.search-button:hover {
    cursor: pointer;
}